workflows/factu_dashboard_stats.json
{
  "updatedAt": "2025-12-23T12:20:08.033Z",
  "createdAt": "2025-12-18T12:24:18.635Z",
  "id": "EvfURd6fqLVskCvf",
  "name": "Factu - Dashboard Stats",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "api/dashboard-stats",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9a2cfd0c-8ee4-48e0-9f0e-35bb1c9e699b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        288
      ],
      "webhookId": "f2b0d64b-ae4e-4c8b-904b-6f08923cf153"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT total_amount, tax_amount, issue_date FROM issued_invoices;",
        "options": {}
      },
      "id": "48d16a05-4422-4ff8-a22e-9dd4d4498b2c",
      "name": "Get Issued",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        688,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "KJPvXpEO7E9SQ6xv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT total_amount, tax_amount, issue_date FROM received_invoices;",
        "options": {}
      },
      "id": "05941e1c-ab0c-49c5-91f3-7933232cf518",
      "name": "Get Received",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        688,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "KJPvXpEO7E9SQ6xv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const issuedInvoices = $(\"Get Issued\").all();\nconst receivedInvoices = $(\"Get Received\").all();\n\nlet stats = {\n  total_income: 0,\n  total_expenses: 0,\n  quarters: {\n    \"Q1\": { income_vat: 0, expense_vat: 0 },\n    \"Q2\": { income_vat: 0, expense_vat: 0 },\n    \"Q3\": { income_vat: 0, expense_vat: 0 },\n    \"Q4\": { income_vat: 0, expense_vat: 0 }\n  }\n};\n\nconst getQuarter = (dateStr) => {\n  if (!dateStr) return 'Q1';\n  const date = new Date(dateStr);\n  const month = date.getMonth();\n  if (month < 3) return 'Q1';\n  if (month < 6) return 'Q2';\n  if (month < 9) return 'Q3';\n  return 'Q4';\n};\n\nissuedInvoices.forEach(item => {\n  const inv = item.json;\n  stats.total_income += parseFloat(inv.total_amount || 0);\n  const q = getQuarter(inv.issue_date);\n  stats.quarters[q].income_vat += parseFloat(inv.tax_amount || 0);\n});\n\nreceivedInvoices.forEach(item => {\n  const inv = item.json;\n  stats.total_expenses += parseFloat(inv.total_amount || 0);\n  const q = getQuarter(inv.issue_date);\n  stats.quarters[q].expense_vat += parseFloat(inv.tax_amount || 0);\n});\n\nconst quarterlyStats = Object.keys(stats.quarters).map(key => ({\n  quarter: key,\n  income_vat: stats.quarters[key].income_vat,\n  expense_vat: stats.quarters[key].expense_vat,\n  balance: stats.quarters[key].income_vat - stats.quarters[key].expense_vat\n}));\n\nreturn {\n  json: {\n    stats: {\n      total_income: stats.total_income,\n      total_expenses: stats.total_expenses,\n      net_profit: stats.total_income - stats.total_expenses,\n      vat_to_pay: quarterlyStats.reduce((acc, q) => acc + q.balance, 0)\n    },\n    quarterly_vat: quarterlyStats\n  }\n};"
      },
      "id": "7f5bd076-8513-4543-911c-6ae3e7728670",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "287e953a-aaa9-47b8-8692-897a771e99b2",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        288
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Issued",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Issued": {
      "main": [
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Received": {
      "main": [
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stats": {
      "main": [
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "406653da-4f06-4f83-a483-0145bf250a7a",
  "activeVersionId": "406653da-4f06-4f83-a483-0145bf250a7a",
  "versionCounter": 10,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-18T12:24:18.640Z",
      "createdAt": "2025-12-18T12:24:18.640Z",
      "role": "workflow:owner",
      "workflowId": "EvfURd6fqLVskCvf",
      "projectId": "PChSnDXpHbIycoV4",
      "project": {
        "updatedAt": "2025-12-09T15:11:24.630Z",
        "createdAt": "2025-12-09T15:10:50.445Z",
        "id": "PChSnDXpHbIycoV4",
        "name": "Juan Carlos Sastre Iglesias <juan.carlos.sastre.iglesias@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-09T15:10:50.445Z",
            "createdAt": "2025-12-09T15:10:50.445Z",
            "userId": "d2dd8e60-551d-49af-96b4-f38e848d31bd",
            "projectId": "PChSnDXpHbIycoV4",
            "user": {
              "updatedAt": "2025-12-23T12:00:24.000Z",
              "createdAt": "2025-12-09T15:10:49.925Z",
              "id": "d2dd8e60-551d-49af-96b4-f38e848d31bd",
              "email": "juan.carlos.sastre.iglesias@gmail.com",
              "firstName": "Juan Carlos",
              "lastName": "Sastre Iglesias",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-09T15:11:52.855Z",
                "personalization_survey_n8n_version": "1.103.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyType": "education",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "3fcTfRcTJhwtug2U",
                "userActivatedAt": 1765715364784,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765983214665
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-23T12:20:08.034Z",
    "createdAt": "2025-12-23T12:20:08.034Z",
    "versionId": "406653da-4f06-4f83-a483-0145bf250a7a",
    "workflowId": "EvfURd6fqLVskCvf",
    "nodes": [
      {
        "parameters": {
          "path": "api/dashboard-stats",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "9a2cfd0c-8ee4-48e0-9f0e-35bb1c9e699b",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          480,
          288
        ],
        "webhookId": "f2b0d64b-ae4e-4c8b-904b-6f08923cf153"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT total_amount, tax_amount, issue_date FROM issued_invoices;",
          "options": {}
        },
        "id": "48d16a05-4422-4ff8-a22e-9dd4d4498b2c",
        "name": "Get Issued",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          688,
          176
        ],
        "credentials": {
          "postgres": {
            "id": "KJPvXpEO7E9SQ6xv",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT total_amount, tax_amount, issue_date FROM received_invoices;",
          "options": {}
        },
        "id": "05941e1c-ab0c-49c5-91f3-7933232cf518",
        "name": "Get Received",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          688,
          384
        ],
        "credentials": {
          "postgres": {
            "id": "KJPvXpEO7E9SQ6xv",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const issuedInvoices = $(\"Get Issued\").all();\nconst receivedInvoices = $(\"Get Received\").all();\n\nlet stats = {\n  total_income: 0,\n  total_expenses: 0,\n  quarters: {\n    \"Q1\": { income_vat: 0, expense_vat: 0 },\n    \"Q2\": { income_vat: 0, expense_vat: 0 },\n    \"Q3\": { income_vat: 0, expense_vat: 0 },\n    \"Q4\": { income_vat: 0, expense_vat: 0 }\n  }\n};\n\nconst getQuarter = (dateStr) => {\n  if (!dateStr) return 'Q1';\n  const date = new Date(dateStr);\n  const month = date.getMonth();\n  if (month < 3) return 'Q1';\n  if (month < 6) return 'Q2';\n  if (month < 9) return 'Q3';\n  return 'Q4';\n};\n\nissuedInvoices.forEach(item => {\n  const inv = item.json;\n  stats.total_income += parseFloat(inv.total_amount || 0);\n  const q = getQuarter(inv.issue_date);\n  stats.quarters[q].income_vat += parseFloat(inv.tax_amount || 0);\n});\n\nreceivedInvoices.forEach(item => {\n  const inv = item.json;\n  stats.total_expenses += parseFloat(inv.total_amount || 0);\n  const q = getQuarter(inv.issue_date);\n  stats.quarters[q].expense_vat += parseFloat(inv.tax_amount || 0);\n});\n\nconst quarterlyStats = Object.keys(stats.quarters).map(key => ({\n  quarter: key,\n  income_vat: stats.quarters[key].income_vat,\n  expense_vat: stats.quarters[key].expense_vat,\n  balance: stats.quarters[key].income_vat - stats.quarters[key].expense_vat\n}));\n\nreturn {\n  json: {\n    stats: {\n      total_income: stats.total_income,\n      total_expenses: stats.total_expenses,\n      net_profit: stats.total_income - stats.total_expenses,\n      vat_to_pay: quarterlyStats.reduce((acc, q) => acc + q.balance, 0)\n    },\n    quarterly_vat: quarterlyStats\n  }\n};"
        },
        "id": "7f5bd076-8513-4543-911c-6ae3e7728670",
        "name": "Aggregate Stats",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          288
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "287e953a-aaa9-47b8-8692-897a771e99b2",
        "name": "Respond Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1152,
          288
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get Issued",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Received",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Issued": {
        "main": [
          [
            {
              "node": "Aggregate Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Received": {
        "main": [
          [
            {
              "node": "Aggregate Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Stats": {
        "main": [
          [
            {
              "node": "Respond Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Juan Carlos Sastre Iglesias",
    "name": null,
    "description": null
  }
}